<div class="card-product mt-4">
  <img src="<%= garden.banner_url %>" />

  <div class="card-product-infos">
    <h2><%= garden.name %></h2>
    <p>Category: <%= garden.category %></p>
    <p>
      <%= link_to garden_path(garden), class: 'btn btn-outline-primary btn-sm' do %>
        <i class="fa-solid fa-circle-info"></i> Details
      <% end %>
    </p>
  </div>
</div>
