<div class="card-product mt-4">
  <img src="<%= garden.banner_url %>" />

  <div class="card-product-infos">
    <h2><%= garden.name %></h2>
    <p>Category: <%= garden.category %></p>
    <p>
      <%= link_to "Show this garden", garden %>
    </p>
  </div>
</div>
